header
  .header-content
    h1 Help us deliver happiness.
    h2 Refer a friend or colleague and we'll give you $150! It's easy as pie.
    a.refer-btn(href="#") Refer
main
  .main-artwork
    img(src="https://github.com/atloomer/legwork-images/blob/master/communication-01.png?raw=true")
  article
    h3 We love to Deliver Happiness to our clients and we've got lots more happiness to deliver! That's where you come in.
    p Refer a colleague or friend and we'll give you $150 Visa gift card.  Send one, 100, or anything in between: you'll get $150 for every referral that enrolls with Legwork by December 31, 2017.
.promotional-rules
  .promotional-flex-containers.introduction
    img(src="https://github.com/atloomer/legwork-images/blob/master/mail-icon-01.png?raw=true")
    h4 Provide a Warm Introduction
    p You can do this by emailing 
      a.inline-links(href="mailto:sales@legworkprm.com") sales@legworkprm.com 
      | with your contact information, and cc the person you are referring to Legwork, along with their practice name, dentist's name, and contact phone number.  Complete the form 
      a.inline-links(href="#") here
      | .
  .promotional-flex-containers.contact
    img(src="https://github.com/atloomer/legwork-images/blob/master/chat-icon_v.png?raw=true")
    h4 We Contact the Referred Party
    p A Legwork team member will reach out to the referred party and communicate services.
  .promotional-flex-containers.gift-card
    img(src="https://github.com/atloomer/legwork-images/blob/master/gift-icon-01.png?raw=true")
    h4 You Receive a $150 Gift Card
    p Once the referred enrolls with Legwork, we will send you a $150 Visa gift card.
.additional-referral-info
  p * To receive the financial incentive, you must be an active Legwork client at the time the referred enrolls with Legwork.
  p * Referred parties must enroll by 12/31/2017 to receive the financial incentive.
